body, h1, h2, h3, h4, h5, h6, img, ul, li, ol {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100%;
}

.hidden {
    display: none;
}


body {
    background: #f3f3f3;
}

body > .panel {
    height: 100%;
}

#login-panel {
    display: flex;
    justify-content: center;
}

#login-panel form {
    flex: 0 0 320px;
    background: #ccc;
}

#login-panel img {
    display: block;
    margin: 0 auto;
}
