body, h1, h2, h3, h4, h5, h6, img, ul, li, ol {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100%;
}

.hidden {
    display: none !important;
}


body {
    background: #f3f3f3;
}

body > .panel {
    height: 100%;
}

#loader-panel img {
    display: block;
    margin: 0 auto;
    padding: 20px;
}


.panel {
    display: flex;
    justify-content: center;
}

.panel .slim-container {
    flex: 0 0 320px;
    background: #ccc;
}

#login-panel h1 {
    padding-bottom: 20px;
}

#login-panel img {
    display: block;
    margin: 0 auto;
    padding: 20px;
}

#chat-panel {
    display: flex;
    width: 100%;
}

#chat-panel aside {
    min-width: 300px;
    height: 100%;
    overflow-y: scroll;
}
#chat-panel main {
    flex: 1;

}
